/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 2, 2017, 11:01:51 AM
    Author     : anase
*/

.carousel {
    width: 50%;
    height: 400px;
}

.active-photo {
    display: inherit;
}

.carousel-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    display: none;
}

.controls {
    position: absolute;
    width: 100%;
    bottom: 40px;
}

.left-arrow {
    position: absolute;
    left: 10px;
}

.right-arrow {
    position: absolute;
    right: 10px;
}

.photo-info {
    display: table;
    margin: 0 auto;
}

.delete-photo {
    position: absolute;
    top: 0;
    right: 50px;
}

.report-photo {
    position: absolute;
    top: 0;
    right: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}
