/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 30, 2017, 11:11:17 PM
    Author     : anase
*/

main {
    width: 100%;
    height: 100%;
}

.error-message {
    font-size: 40px;
}

.main-view {
    margin: 0 auto;
    position: absolute;
}

.nav-search{
    width: 90%;
}

#toggle-off-canvas {
    top: 0;
    left: 0;
    font-size: 32px;
    position: absolute;
}

.search-result{
    display: none;
    position: absolute;
}

.off-canvas {
    z-index: 10;
    width: 300px;
    height: 100%;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
}

.container {
    display: flex;
    flex-wrap: wrap;
}