/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 3, 2017, 2:39:00 AM
    Author     : anase
*/

.list-restaurant{
    height: 120px;
    width: 100%;
}

.list-restaurant-image{
    width: 30%;
}

.list-restaurant-content{
    
}