/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-gen-2017, 20.06.21
    Author     : Nauman
*/

#map {
    height: 500px;
    width: 100%;
}