/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2-feb-2017, 23.13.40
    Author     : Nauman
*/

@media screen and (min-width: 600px){
    .list-group{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

.list-group-item{
        width: 100%;
    }
