/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 30, 2017, 5:00:41 PM
    Author     : anase
*/
@import url('//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

div[class^="stars"]{
    width: 60%;
    display: inline-block;
}

input[class^="star"] { display: none; }

label[class^="star"]{
    float: right;
    padding: 10px;
    font-size: 24px;
    color: #444;
    transition: all .2s;
}

input[class^="star"]:checked ~ label[class^="star"]:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

label[class="star"]:hover { transform: rotate(-15deg) scale(1.3); }

label[class^="star"]:before {
    content: '\f006';
    font-family: FontAwesome;
}

.title {
    font-size: 24px;
    width: 30%;
}

.review {
    padding: 10px 0px;
}

.reviews {
    padding: 30px 0px;
}

.content {
    font-size: 24px;
    width: 70%;
}

.reviewer {
    font-size: 24px;
    width: 30%;
}

.actual-review {
    font-size: 20px;
    width: 70%;
}

.review-title {
    font-size: 28px;
}

.description {
    font-size: 16px;
    width: 100%;
    text-align: justify;
}

.add-review {
    width: 100%;
}

@media screen and (max-width: 600px){
    .reviewer{
        width: 100%;
        order: 1;
    }
    .actual-review {
        font-size: 14px;
        width: 100%;
        order: 2;
    }
    .add-review {
        width: 100%;
    }
    .add-image {
        width: 100%;
    }
    .carousel {
        width: 650px;
        height: 440px;
    }

}

@media screen and (min-width: 601px){
    .carousel {
        width: 650px;
        height: 440px;
    }
    .add-image {
        width: 50%;
    }
    #map{
        margin-left: 100px;
        height: 400px;
        width: 400px;
    }
}

@media screen and (min-width: 901px){
    .carousel {
        width: 50%;
        height: 440px;
        order: 2;
    }
    .add-image {
        width: 50%;
        order: 1;
    }
    .main-view{
        margin-left: auto;
        margin-right: auto;
    }
    #map{
        margin-left: 100px;
        height: 400px;
        width: 400px;
    }
}